/*Tags, IDS e Classes */

/* Comentarios */


/* Por Tags  */


body{

    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #ff0000;
    font-size: 50px;
    line-height: 1.5;
    font-weight: bold;
}

 /* Seletor ID somente para um */

#primeiro-paragrafo{

color:green ;
font-size: 25px;
text-transform: uppercase;
line-height: 1.5;


}

/* Seletor Class classifica Varios*/

.segundo-paragrafo {

    color: blue;
}


